/* Fonts */

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik/Rubik-VariableFont_wght.ttf'),
         url('fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Press start';
    src: url('fonts/Press\ start/PressStart2P-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Major mono';
    src: url('fonts/Major\ mono/MajorMonoDisplay-regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AudioWide';
    src: url('fonts/AudioWide/Audiowide-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Main */

h1 {
    font-family: AudioWide;
}

a{
    text-decoration: none;
    color: white;
}

body{
    position: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('images/main-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: white;
    font-family: "Rubik";
    z-index: -2;
}

#bg-video{
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5em;
}

.logo{
    position: absolute;
    left: 50px;
    width: 70px;
    filter: drop-shadow(0 0 15px rgb(247, 0, 255));
    animation: logo 0.8s ease-in-out alternate infinite;
}

@keyframes logo {
    to{filter: drop-shadow(0 0 15px rgb(255, 0, 179));}
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(90deg,
    rgba(83, 88, 237, 20%) 0%,
    rgba(83, 88, 237, 70%) 25%, 
    rgba(197, 87, 199, 100%) 50%,
    rgba(83, 88, 237, 70%) 75%, 
    rgba(83, 88, 237, 20%) 100%);
    border-image-slice: 1;
    height: 3em;
    width: 25em; 
    padding: 0 40px;
    font-size: 20px;
    animation: wave 1s ease-in-out alternate 0.4s infinite;
}


nav a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'AudioWide';
    text-shadow: 0 0 3px white;
    align-items: center;
    height: 2.5em;
    transition: 0.2s all;
    animation-play-state: paused;
}

@keyframes wave{
    to {
        border-image: linear-gradient(90deg,
        rgba(197, 87, 199, 20%) 0%,
        rgba(197, 87, 199, 70%) 25%, 
        rgba(83, 88, 237, 100%) 50%,
        rgba(197, 87, 199, 70%) 75%, 
        rgba(197, 87, 199, 20%) 100%);

        border-image-slice: 1;      
    }
}

@keyframes hovermove {
    to{
        transform: translateY(-5px);
    }
}

nav a:hover{
    color: rgb(174, 0, 255);
    text-shadow: 0 0 10px rgb(174, 0, 255);
    animation: hovermove 0.5s ease-in-out alternate infinite;
    animation-play-state: running;
}

.links{
    position: absolute;
    right: 0;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.links div{
    display: flex;
    flex-direction: column;
    height: 240px;
}

.links a {
    font-family: 'AudioWide';
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    width: 10em;
    transition: 0.3s all;
    transform: translateX(-50px);
}

.links a p{
    transition: 0.3s all;
    width: 140px;
}

.move-on{
    transform: translateX(30px);
    text-shadow: 0 0 20px rgb(248, 5, 248);
}

.links img{
    width: 30px;
    height: 30px;
    margin: 0 10px;
    transition: 0.3s all;
    filter: drop-shadow(0 0 10px rgb(255, 0, 255));
}

.show {
    position: sticky;
    opacity: 1;
    animation: hovermove 0.6s ease-in-out alternate infinite;
    z-index: -1;
}

.disable{
    z-index: -1;
    opacity: 0;
}

/* Main */

main {
    display: grid;
    grid-template-columns: 1fr;
    height: 80vh;
    width: 90em;
    align-items: center;
}

.emoji{
    position: absolute;
    width: 120px;
    left: 50px;
    transition: 0.2s all;
    opacity: 1;
    filter: drop-shadow(0 0 10px rgb(204, 0, 255));
}

.emoji-hide{
    opacity: 0;
}

.languages{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 300px;
    right: 120px;
    border:none;
    color: white;
    width: 4em;
    height: 4em;
    background: rgb(0, 0, 0, 0.5);
    cursor: pointer;
}

.languages p{
    font-family: AudioWide;
    font-size: 20px;
}

.languages::after, .languages::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: green;
    z-index: -1;
    padding: 7px;
    background-image: conic-gradient(rgb(255, 0, 234), rgb(98, 0, 255), rgb(255, 0, 234));
}

.languages::before{
    filter: blur(3px);
}

.choose-lang{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 5em;
    height: 4em;
    overflow: hidden;
    transform: translateY(70px);
    opacity: 0;
    cursor: pointer;
}

.choose-lang-show{
    transform: translateY(162px);
    opacity: 1;
    height: 25em;
    display: flex;
}

.language{
    height: 4em;
    background: rgb(0, 0, 0, 0.5);
    border: 2px solid white;
    color: white;
    font-family: AudioWide;
    font-size: 20px;
    font-weight: bold;
}

.sections{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    border: 1px solid white; 
    height: 80vh;
    overflow: scroll;
}

.sections::-webkit-scrollbar {
    display: none;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    min-height: 90vh;
}

section p{
    width: 20em;
    font-size: 30px;
}

#main div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75vh;
}


.hi{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    box-shadow: 0 0 10px white;
    background: rgb(89, 0, 255);
    border-radius: 20px;
    font-family: Press Start;
    width: 8em;
    height: 3em;
    opacity: 0;
    transition: 0.3s all;
}

.hide-hi{
    opacity: 1;
}

#main div:first-child h1{
    transform: translateY(-1em);
    animation: hovermove 1.3s ease-in-out alternate infinite;
    text-shadow: 0 0 10px white;
    font-size: 90px;
}

#main div:first-child h1:hover{
    text-shadow: 0 0 20px red;
}

#main .intro{
    /* border: 1px solid white;  */
    justify-content: center;
    align-items: start;
    /* background: rgb(0, 0, 0, 50%); */
    border-radius: 40px;
}

.intro h1{
    font-size: 50px;
    border-right: 5px solid white;
    width: 12em;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s  steps(19),
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

.intro p {
    font-size: 24px;
    font-weight: bold;
    color: rgb(214, 220, 253);
    transition-delay: 400ms;
}

.love{
    text-shadow: 0 0 10px red;
    transition: 0.2s all;
}

.love:hover{
    color: red;
}

.to-works{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: Press start;
    color: white;
    width: 15em;
    height: 3em;
    font-size: 30px;
    transition: 0.3s all;
}

.to-works:hover{
    text-shadow: 0 0 10px rgb(72, 255, 0);
    transform: translateX(10px);
}

#works, #services{
    flex-direction: column;
}

#works{
    width: 100%;
    padding: 0;
}

.projects{
    display: grid;
    grid-template-columns: repeat(2, minmax(30em, 1fr));
    justify-content: center;
    gap: 40px;
    border: 1px solid white;
}

.bg-project, .project{
    height: 17em;
    transition: 0.3s all;
}

.bg-project{
    border: 5px solid white;
    box-shadow: 0 0 10px white;
    overflow: hidden;
    
}

.bg-project:hover{
    box-shadow: 0 0 20px rgb(255, 0, 255);
}

.bg-project:first-child{
    background-image: url('images/chat-css.png');
    background-repeat: no-repeat;
}

.bg-project:nth-of-type(2){
    background-image: url('images/age-calc.png');
    background-repeat: no-repeat;
}

.bg-project:nth-of-type(3){
    background-image: url('images/example-3.png');
    background-repeat: no-repeat;
}

.bg-project:nth-of-type(4){
    background-image: url('images/calc-on-react.png');
    background-repeat: no-repeat;
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 0, 234, 0.5);
    transform: translateY(70%);
}

.show-work{
    transform: translateY(0);
    background: rgba(255, 0, 234);;
}

.project a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    font-family: Press start;
    font-size: 25px;
    color: white;
    height: 2em;
    width: 7em;
    transition: 0.3s all;
}

.project a:hover{
    transform: translateY(-10px);
    background: rgb(38, 0, 126);
    box-shadow: 0 0 20px rgb(255, 255, 255);
}

.project h2{
    font-family: AudioWide;
}


.bg-project:nth-of-type(2), .service:nth-of-type(2){
    transition-delay: 100ms;
}

.bg-project:nth-of-type(3), .service:nth-of-type(3){
    transition-delay: 200ms;
}

.bg-project:nth-of-type(4), .service:nth-of-type(4){
    transition-delay: 300ms;
}

#services{
    width: 90%;
}

.services{
    display: grid;
    grid-template-columns: repeat(4, minmax(18em, 1fr));
    justify-content: center;
    gap: 20px;
    border: 1px solid white;
}

.service{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 3px solid white;
    box-shadow: 0 0 10px white;
    height: 30em;
    transition: 0.2s all;
    animation: service-stutter 1s ease-in-out alternate infinite;
}

@keyframes service-stutter{
    to{
        border: 3px solid rgb(247, 0, 255);
        box-shadow: 0 0 20px rgb(247, 0, 255);
    }
}

.service:first-child{
    background: rgb(172, 0, 172);
    animation-delay: 1000ms;
}

.service:nth-of-type(2){
    background: rgb(121, 0, 121);
}

.service:nth-of-type(3){
    background: rgb(121, 0, 121);
    animation-delay: 1000ms;
}

.service:last-of-type{
    background: rgb(172, 0, 172);
}

.service-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service h1{
    text-align: center;
    font-size: 22px;
}

.service p{
    font-family: AudioWide;
    width: 14em;
    font-size: 20px;
}

.service:hover{
    border: 3px solid rgb(247, 0, 255);
    box-shadow: 0 0 20px rgb(247, 0, 255);
}

.hide-service{
    display: none;
}

.bricks{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.bricks span{
    width: 3em;
    height: 3em;
    border: 2px solid white;
    box-shadow: 0 0 10px white;
}

/* Bricks animation */

.bricks-anim span{
    animation: brick 0.6s ease-in-out alternate infinite;
}

.bricks-anim span:first-child{
    animation-delay: 0.3s;
}

.bricks-anim span:nth-of-type(2){
    animation-delay: 0.6s;
    border: 2px solid rgb(0, 4, 255);
    box-shadow: 0 0 10px rgb(0, 4, 255);
}

.bricks-anim span:nth-of-type(3){
    animation-delay: 0.9s;
    border: 2px solid rgb(255, 0, 0);
    box-shadow: 0 0 10px rgb(255, 0, 0);
}

.bricks-anim span:nth-of-type(4){
    animation-delay: 1.2s;
    border: 2px solid rgb(0, 255, 76);
    box-shadow: 0 0 10px rgb(0, 255, 76);
}

.bricks-anim span:nth-of-type(5){
    animation-delay: 1.5s;
}

.bricks-anim span:last-child{
    animation-delay: 1.8s;
}

@keyframes brick {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}


/* Animation demonstration */

.demonstration-anim, .online-anim{
    background-size: 55%;
    background-repeat: no-repeat;
    width: 10em;
    height: 10em;
    margin-bottom: 10px;
}

.demonstration-anim{
    background-image: url("images/emoji-regular.png");
    animation: demonstration 2s ease-in-out alternate infinite;
    background-position: center;
}

@keyframes demonstration {
    25%{
        background-image: url("images/emoji-hello.png");
    }

    50%{
        background-image: url("images/emoji-love.png");
    }

    75%{
        background-image: url("images/emoji-regular.png");
    }

    100%{
        background-image: url("images/emoji-cute.png");
    }


}

/* Responsive animation */

.responsive{
    height: 9em;
}   

.responsive-anim{
    border: 3px solid white;
    box-shadow: 0 0 10px white;
    border-radius: 6px;
    width: 13em;
    height: 7em;
    animation: responsive 1s ease-in-out alternate infinite;
}

@keyframes responsive {
    to{
        width: 4em;
        height: 6em;
        border-bottom: 10px solid white;
        border-top: 10px solid white;
    }
}

/* Publish animation */

.online-anim{
    background-image: url("images/globus-on.png");
    background-position: bottom;
    animation: publish 1s ease-in-out alternate infinite;
    width: 11em;
}

@keyframes publish {
    to{
        background-image: url("images/globus-off.png");
    }
}


.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40em;
    width: 65em;
    border: 6px solid white;
    border-radius: 20px;
    background: rgb(0, 0, 0, 0.5);
}

.contacts h1{
    font-family: Press start;
    color: rgb(0, 162, 255);
    text-shadow: 0 0 15px rgb(0, 174, 255) ;
    font-size: 40px;
    animation: stuttering 1s ease-in-out alternate infinite;
}

.contacts div {
    align-self: self-start;
    margin-left: 10px;
    text-shadow: 0 0 10px rgb(255, 255, 255);
}

.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: Press start;
    font-size: 30px;
    margin-bottom: 30px;
    width: 27em;
    transition: 0.3s all;
}

.contact p {
    font-size: 25px;
}

.contact a{
    width: 20em;
}

.redirect {
    width: 15em;
}

.contact:first-child{
    transition-delay: 100ms;
}

.contact:nth-of-type(2){
    transition-delay: 200ms;
}

.contact:nth-of-type(3){
    transition-delay: 300ms;
}

.contact:nth-of-type(4){
    transition-delay: 400ms;
}

.contact:last-child{
    transition-delay: 500ms;
}

.contact div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 13em;
}



.contact img{
    width: 40px;
    margin-right: 20px;
    filter: drop-shadow(0 0 10px rgb(255, 0, 221));
}

.go{
    transform: translateX(-90px);
    transition: 0.3s all;
}

.go-to{
    transform: translateX(-70px);
}


@keyframes stuttering {
    to{
        color: rgb(0, 58, 218);
        text-shadow: 0 0 15px rgb(0, 58, 218);
    }
}

#main, #works, #services, #contacts{
    width: 85em;
    padding: 0;
}

#contacts{
    display: flex;
    flex-direction: column;
}


.hidden{
    opacity: 0;
    transition: 1s all;
    filter: blur(5px);
    transform: translateX(-100%);
}


.show-main{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden{
        transition: none;
    }
}

@media (max-width: 1919px){

    .links{
        border: 1px solid white;
        width: 100px;
}

.links div{
    height: 240px;
    width: 100px;
}

.links a {
    border: 1px solid white;
    font-size: 20px;
    width: 5em;
    transform: translateX(-60px);
}

.links a p{
    width: 60px;
    border: 1px solid white;
}

.move-on{
    transform: translateX(20px);
}

.links img{
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.languages{
    right: 40px;
}

.services{
    justify-content: center;
}

#main, #works, #services, #contacts{
    width: 89em;
    padding: 0;
}

     
}


@media (max-width: 1700px) {
    main{
        width: 80em;
    }

    .links a {
        font-size: 18px;
    }

    .links img {
        width: 25px;
        height: 25px;
    }

    .emoji{
        width: 100px;
        left: 50px;
    }

    .languages{
        right: 40px;
    }

    .intro h1{
        font-size: 40px;
    }

    #main, #works, #services, #contacts{
    width: 79em;
    padding: 0;
}

    
}

@media (max-width: 1600px){
    main{
        width: 70em;
    }

    .links a {
        font-size: 18px;
    }

    .links img {
        width: 25px;
        height: 25px;
    }

    .emoji{
        width: 100px;
        left: 20px;
    }

    section:nth-of-type(3){
        min-height: 160vh;
    }

    .intro h1{
        font-size: 42px;
    }

    .services{
        grid-template-columns: repeat(2, minmax(18em, 1fr));
        width: 60em;
    }

    .contacts{
        height: 33em;
        width: 55em;
    }

    .contacts h1{
        font-size: 35px;
    }

    .contact{
        font-size: 20px;
        width: 30em;
        border: 1px solid white;
    }

    .contact p {
        font-size: 20px;
    }

    .contact a{
        border: 1px solid white;
        width: 12em;
    }

    #main, #works, #services, #contacts{
    width: 69em;
    padding: 0;
}

}

@media (max-width: 1400px){
    main {
        width: 60em;
    }

    #main div:first-child h1{
        transform: translateY(-0.5em);
        font-size: 70px;
    }

    .intro h1{
        font-size: 35px;
    }

    .intro p {
        font-size: 20px;
    }

    .intro a{
        font-size: 25px;
    }

    .projects{
        display: grid;
        grid-template-columns: repeat(2, minmax(25em, 1fr));
        justify-content: center;
        gap: 40px;
        border: 1px solid white;
    }

    .services{
        grid-template-columns: repeat(2, minmax(18em, 1fr));
        width: 50em;
    }

    #main, #works, #services, #contacts{
        width: 59em;
        padding: 0;
    }
}

@media (max-width: 1200px){
    main{
        width: 55em;
    }

    .links a {
        font-size: 15px;
        transform: translateX(-30px);
    }

    .links img {
        width: 25px;
        height: 25px;
    }

    .contacts{
        height: 33em;
        width: 50em;
    }

    #main, #works, #services, #contacts{
        width: 54em;
        padding: 0;
    }
}

@media (max-width: 1100px) {

    header {
        flex-direction: column-reverse;
        justify-content: space-between;
        border: 1px solid white;
        height: 11em;
    }

    nav{
        font-size: 20px;
        width: 425px;
    }

    .logo{
        position: inherit;
        width: 120px;
    }

    .links{
        display: none;
    }


    .emoji{
        display: none;
    }

    main {
        width: 100%;
        border: 1px solid white;
        justify-items: center;
    }

    .languages{
        left: 100px;
    }

    .choose-lang{
        flex-direction: row;
        width: 5em;
        height: 5em;
        transform: translateX(70px);
    }

    .choose-lang-show{
        transform: translateX(162px);
        width: 25em;
    }

    .language{
        height: 4em;
        width: 4em;
    }

    .sections{
        border: 1px solid red; 
        width: 60em;
        height: 300em;
        overflow: visible;
    }


    section{
        flex-direction: column;
    }

    section:nth-of-type(3){
        height: 90em;
    }

    #main{
        justify-content: center;
    }

    #main div{
        width: 24em;
        height: 20em;
    }

    #main div:first-child{
        height: 10em;
    }

    #main div:first-child h1{
        transform: translateY(-0.2em);
        font-size: 70px;
    }

    #main .intro{
        align-items: center;
    }

    .hi{
        display: none;
    }

    .intro h1{
        font-size: 25px;
    }

    .intro h5{
        margin: 0;
    }

    .intro p {
        text-align: center;
        margin: 0;
    }

    .project h1{
        font-size: 22px;
    }

    .services{
        align-items: center;
        width: 90%;
        gap: 10px;
    }

    .service{
        width: 100%;
        height: 35em;
        margin-bottom: 50px;
    }

    #contacts{
        height: 45em;
    }

    .contacts{
        display: flex;
        flex-direction: column;
        height: 30em;
        width: 90%;
    }   

    .contacts div {
        margin-left: 0;
    }

    .contact{
        font-size: 20px;
        margin-bottom: 10px;
        width: 40em;
    }

    .contact:first-child div{
        margin-left: 65px;
    }

    .contact div{
        align-self: flex-start;
        margin-left: 10px;
    }

    .contact p {
        font-size: 20px;
    }

    .redirect {
        width: 20em;
    }

    .go{
        display: none;
    }

    .contact img{
        width: 30px;
        margin-right: 15px;
    }

    #main, #works, #services, #contacts{
        border: 1px solid white;
        padding: 0;
        width: 60em;
    }

}

@media (max-width: 772px){

    #main div:first-child h1{
        font-size: 65px;
    }

    .sections{
        width: 45em;
    }

    section:nth-of-type(3){
        height: 30vh;
    }

    .projects{
        grid-template-columns: repeat(2, 20em);
    }

    #main, #works, #services, #contacts{
        width: 100%;
    }

    .contacts{
        justify-content: center;
        align-items: center;
        width: 30em;

    }

    .contact{
        font-size: 15px;
        width: 25em;
    }

    .contacts h1{
        font-size: 23px;
    }

    .contact p {
        font-size: 15px;
    }

    .contact:first-child{
        flex-direction: column;
    } 
}

@media (max-width: 430px){

    nav{
        font-size: 15px;
        width: 300px;
        border: 1px solid white;
    }

    .logo{
        width: 120px;
    }

    .languages{
        top: 200px;
        left: 20px;
        width: 3em;
        height: 3em;
    }

    .choose-lang{
        flex-direction: row;
        width: 3em;
        height: 4em;
        transform: translateX(70px);
    }

    .choose-lang-show{
        transform: translateX(72px);
        width: 25em;
    }

    .language{
        height: 3em;
        width: 3em;
    }

    #main div:first-child h1{
        font-size: 65px;
    }

    .sections{
        width: 25em;
    }

    section:nth-of-type(2){
        height: 100em;
    }

    section:nth-of-type(3){
        height: 170em;
    }

    .projects{
        grid-template-columns: repeat(1, 20em);
    }

    .services{
        grid-template-columns: repeat(1, 18em);
    }

    .service{
        height: 27em;
    }

    .demonstration-anim, .online-anim{
        background-size: 40%;
    } 

    .responsive-anim{
        border: 2px solid white;
        box-shadow: 0 0 5px white;
        border-radius: 4px;
        width: 9em;
        height: 4em;
        animation: responsive 1s ease-in-out alternate infinite;
    }

    @keyframes responsive {
        to{
            width: 3em;
            height: 4em;
            border-bottom: 6px solid white;
            border-top: 6px solid white;
        }
    }

    #main, #works, #services, #contacts{
        width: 25em;
    }

    .contacts{
        width: 23em;
    }


    
}

@media (max-width: 380px){

    nav{
        font-size: 13px;
        width: 280px;
    }

    #main div:first-child h1{
        font-size: 55px;
    }

    .sections{
        width: 23em;
    }

    .intro h1{
        font-size: 20px;
    }

    .intro a{
        font-size: 18px;
    }

    .intro p{
        font-size: 15px;
    }

    .projects{
        grid-template-columns: repeat(1, 17em);
    }

    .services{
        grid-template-columns: repeat(1, 17em);
    }

    .service p{
        font-size: 18px;
    }

    #main, #works, #services, #contacts{
        width: 23em;
    }

    .contacts{
        width: 20em;
    }

    .contacts h1{
        font-size: 19px;
    }

    .contact{
        font-size: 12px;
        width: 26em;
    }

    .contact p {
        font-size: 12px;
    }

    .contact img{
        width: 27px;
    }
    
}

@media (max-width: 325px){

    nav{
        font-size: 13px;
        width: 250px;
    }

    #main div:first-child h1{
        font-size: 55px;
    }

    .sections{
        width: 20em;
    }

    .services{
        grid-template-columns: repeat(1, 18em);
    }

    #main, #works, #services, #contacts{
        width: 20em;
    }

    .contacts{
        width: 20em;
    }

    .contacts h1{
        font-size: 19px;
    }

    .contact{
        font-size: 12px;
        width: 26em;
    }

    .contact p {
        font-size: 12px;
    }

    .contact img{
        width: 27px;
    }
    
}