/* Fonts */

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik/Rubik-VariableFont_wght.ttf'),
         url('fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Press start';
    src: url('fonts/Press\ start/PressStart2P-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Major mono';
    src: url('fonts/Major\ mono/MajorMonoDisplay-regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AudioWide';
    src: url('fonts/AudioWide/Audiowide-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Main */

h1 {
    font-family: AudioWide;
}

a{
    text-decoration: none;
    color: white;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('images/main-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background: rgb(19, 19, 19); */
    background-size: 100% 100%;
    color: white;
    font-family: "Rubik";
}

#bg-video{
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 1px solid white; */
    align-items: center;
    height: 5em;
    /* width: 100%; */
}

.logo{
    position: absolute;
    left: 50px;
    width: 70px;
    filter: drop-shadow(0 0 15px rgb(247, 0, 255));
    animation: logo 0.8s ease-in-out alternate infinite;
}

@keyframes logo {
    to{filter: drop-shadow(0 0 15px rgb(255, 0, 179));}
}

/* header img{
    justify-self: flex-start;
} */

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    /* align-self: center; */
    align-items: center;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(90deg,rgba(83, 88, 237, 20%) 0%,rgba(83, 88, 237, 70%) 25%, rgba(197, 87, 199, 100%) 50%,rgba(83, 88, 237, 70%) 75%, rgba(83, 88, 237, 20%) 100%);
    border-image-slice: 1;
    height: 3em;
    width: 25em; 
    padding: 0 40px;
    font-size: 20px;
    animation: wave 1s ease-in-out alternate 0.4s infinite;
    /* transition: 0.3s all; */
}


nav a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'AudioWide';
    /* color: white; */
    text-shadow: 0 0 3px white;
    align-items: center;
    height: 2.5em;
    transition: 0.2s all;
    animation-play-state: paused;
    /* animation-play-state: paused; */
}

@keyframes wave{
    to {
        border-image: linear-gradient(90deg,
        rgba(197, 87, 199, 20%) 0%,
        rgba(197, 87, 199, 70%) 25%, 
        rgba(83, 88, 237, 100%) 50%,
        rgba(197, 87, 199, 70%) 75%, 
        rgba(197, 87, 199, 20%) 100%);

        border-image-slice: 1;      
    }
}

@keyframes hovermove {
    to{
        transform: translateY(-5px);
    }
}

nav a:hover{
    color: rgb(174, 0, 255);
    text-shadow: 0 0 10px rgb(174, 0, 255);
    /* transform: translateY(-5px); */
    animation: hovermove 0.5s ease-in-out alternate infinite;
    animation-play-state: running;
}

/* nav span{
    background: black;
    height: 0px;
    width: 3px;
} */

.links{
    position: absolute;
    right: 0;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-right: em; */
    /* border: 1px solid white; */
    width: 200px;
    /* justify-self: end; */
}

.links div:first-child{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 240px;
    /* border: 1px solid white; */
}

.links a {
    font-family: 'AudioWide';
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    width: 10em;
    /* border: 1px solid white; */
    /* color: white; */
    transition: 0.3s all;
    transform: translateX(-50px);
}

.links a p{
    /* border: 1px solid white; */
    transition: 0.3s all;
    width: 140px;
    /* text-align: start; */
}

.move-on{
    transform: translateX(30px);
    text-shadow: 0 0 20px rgb(248, 5, 248);
}

.links img{
    width: 30px;
    height: 30px;
    margin: 0 10px;
    transition: 0.3s all;
    /* cursor: pointer; */
    filter: drop-shadow(0 0 10px rgb(255, 0, 255));
}

.show {
    position: sticky;
    opacity: 1;
    animation: hovermove 0.6s ease-in-out alternate infinite;
    z-index: -1;
    /* left: -90px; */
    /* border-bottom: 1px sol; */
}

.disable{
    /* position: sticky; */
    z-index: -1;
    opacity: 0;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 75%;
    /* border: 1px solid white; */
}

.emoji{
    position: absolute;
    width: 120px;
    left: 50px;
    transition: 0.2s all;
    opacity: 1;
    filter: drop-shadow(0 0 10px rgb(204, 0, 255));
}

.emoji-hide{
    opacity: 0;
}

/* .nav-line{
    position: fixed;
    right: 20em;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid white; 
    width: 5px;
    height: 70%;
    z-index: 2;
}

.point{
    background: white;
    transform: translateX(-13px);
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.on-point{
    background: green;
} */

.sections{
    display: grid;
    place-items: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid white;  */
    height: 80vh;
    overflow: scroll;
}

.sections::-webkit-scrollbar {
    display: none;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 4em;
    /* border: 1px solid white; */
    /* background: rgba(0, 0, 0, 50%); */
    min-height: 67vh;
    /* width: 100%; */
}

section p{
    width: 20em;
    font-size: 30px;
}

#main div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75vh;
    /* border: 1px solid white; */
}


.hi{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    box-shadow: 0 0 10px white;
    background: rgb(89, 0, 255);
    border-radius: 20px;
    font-family: Press Start;
    width: 8em;
    height: 3em;
    /* transform: translateY(0); */
    opacity: 0;
    transition: 0.3s all;
}

.hide-hi{
    opacity: 1;
    /* transform: translateY(-190px); */
}

#main div:first-child h1{
    transform: translateY(-1em);
    animation: hovermove 1.3s ease-in-out alternate infinite;
    text-shadow: 0 0 10px white;
    font-size: 90px;
}

#main div:first-child h1:hover{
    text-shadow: 0 0 20px red;
}

#main .intro{
    /* border: 1px solid white;  */
    justify-content: center;
    align-items: start;
    /* background: rgb(0, 0, 0, 50%); */
    border-radius: 40px;
}

/* .intro span{
    background: white;
    height: 2px;
    width: 20em;
} */

.intro h1{
    font-size: 50px;
    /* padding-bottom: 20px; */
    /* border-bottom: 2px solid white; */
    border-right: 5px solid white;
    width: 12em;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s  steps(19),
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

.intro p {
    font-size: 24px;
    font-weight: bold;
    color: rgb(214, 220, 253);
    transition-delay: 400ms;
}

.love{
    text-shadow: 0 0 10px red;
    transition: 0.2s all;
}

.love:hover{
    color: red;
}

.to-works{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: Press start;
    /* border: 1px solid white; */
    color: white;
    width: 15em;
    height: 3em;
    font-size: 30px;
    /* transition-delay: 600ms; */
    transition: 0.3s all;
}

.to-works:hover{
    text-shadow: 0 0 10px rgb(72, 255, 0);
    transform: translateX(10px);
}

#works, #services{
    flex-direction: column;
}

#works{
    width: 100vh;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
    /* grid-template-rows: repeat(2, 1fr); */
    justify-content: center;
    justify-items: center;
    gap: 40px;
    border: 1px solid white;
    width: 25em;
}

.bg-project, .project{
    /* width: 30em; */
    height: 17em;
    border-radius: 0 50px 0 50px;
    transition: 0.3s all;
}

.bg-project{
    border: 2px solid white;
    box-shadow: 0 0 10px white;
    overflow: hidden;
    
}

.bg-project:hover{
    box-shadow: 0 0 20px rgb(255, 0, 255);
}

.bg-project:first-child{
    background-image: url('images/chat-css.png');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

.bg-project:nth-of-type(2){
    background-image: url('images/age-calc.png');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

.bg-project:nth-of-type(3){
    background-image: url('images/example-3.png');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

.bg-project:nth-of-type(4){
    background-image: url('images/calc-on-react.png');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 0, 234, 0.5);
    /* padding: 1px 0; */
    transform: translateY(70%);
}

.show-work{
    transform: translateY(0);
    background: rgba(255, 0, 234);;
}

.project a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    font-family: Press start;
    font-size: 25px;
    color: white;
    height: 2em;
    width: 7em;
    transition: 0.3s all;
}

.project a:hover{
    transform: translateY(-10px);
    background: rgb(38, 0, 126);
    box-shadow: 0 0 20px rgb(255, 255, 255);
}

.project h2{
    font-family: AudioWide;
}


.bg-project:nth-of-type(2), .service:nth-of-type(2){
    transition-delay: 100ms;
}

.bg-project:nth-of-type(3), .service:nth-of-type(3){
    transition-delay: 200ms;
}

.bg-project:nth-of-type(4), .service:nth-of-type(4){
    transition-delay: 300ms;
}

.services{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
}

.service{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 3px solid white;
    box-shadow: 0 0 10px white;
    background: blue;
    width: 19em;
    height: 30em;
    transition: 0.2s all;
    animation: service-stutter 1s ease-in-out alternate infinite;
    /* background: green; */
}

@keyframes service-stutter{
    to{
        border: 3px solid rgb(247, 0, 255);
        box-shadow: 0 0 20px rgb(247, 0, 255);
    }
}

.service:first-child{
    background: rgb(172, 0, 172);
    animation-delay: 1000ms;
}

.service:nth-of-type(2){
    background: rgb(121, 0, 121);
}

.service:nth-of-type(3){
    background: rgb(121, 0, 121);
    animation-delay: 1000ms;
}

.service:last-of-type{
    background: rgb(172, 0, 172);
}

.service-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service h1{
    text-align: center;
}

.service p{
    font-family: AudioWide;
    width: 14em;
    font-size: 20px;
}

.service:hover{
    border: 3px solid rgb(247, 0, 255);
    box-shadow: 0 0 20px rgb(247, 0, 255);
}

.hide-service{
    display: none;
    /* position: fixed; */
}

.bricks{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* border: 1px solid white; */
}

.bricks span{
    width: 3em;
    height: 3em;
    border: 2px solid white;
    box-shadow: 0 0 10px white;
}

/* Bricks animation */

.bricks-anim span{
    animation: brick 0.6s ease-in-out alternate infinite;
}

.bricks-anim span:first-child{
    animation-delay: 0.3s;
}

.bricks-anim span:nth-of-type(2){
    animation-delay: 0.6s;
    border: 2px solid rgb(0, 4, 255);
    box-shadow: 0 0 10px rgb(0, 4, 255);
}

.bricks-anim span:nth-of-type(3){
    animation-delay: 0.9s;
    border: 2px solid rgb(255, 0, 0);
    box-shadow: 0 0 10px rgb(255, 0, 0);
}

.bricks-anim span:nth-of-type(4){
    animation-delay: 1.2s;
    border: 2px solid rgb(0, 255, 76);
    box-shadow: 0 0 10px rgb(0, 255, 76);
}

.bricks-anim span:nth-of-type(5){
    animation-delay: 1.5s;
}

.bricks-anim span:last-child{
    animation-delay: 1.8s;
}

@keyframes brick {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}


/* Animation demonstration */

.demonstration-anim, .online-anim{
    background-size: 55%;
    background-repeat: no-repeat;
    width: 10em;
    height: 10em;
    margin-bottom: 10px;
}

.demonstration-anim{
    background-image: url("images/emoji-regular.png");
    animation: demonstration 2s ease-in-out alternate infinite;
    background-position: center;
}

@keyframes demonstration {
    25%{
        background-image: url("images/emoji-hello.png");
    }

    50%{
        background-image: url("images/emoji-love.png");
    }

    75%{
        background-image: url("images/emoji-regular.png");
    }

    100%{
        background-image: url("images/emoji-cute.png");
    }


}

/* Responsive animation */

.responsive{
    height: 9em;
}   

.responsive-anim{
    border: 3px solid white;
    box-shadow: 0 0 10px white;
    border-radius: 6px;
    width: 13em;
    height: 7em;
    animation: responsive 1s ease-in-out alternate infinite;
}

@keyframes responsive {
    to{
        width: 4em;
        height: 7em;
        border-bottom: 10px solid white;
        border-top: 10px solid white;
    }
}

/* Publish animation */

.online-anim{
    background-image: url("images/globus-on.png");
    background-position: bottom;
    animation: publish 1s ease-in-out alternate infinite;
    width: 11em;
    /* border: 1px solid white; */
}

@keyframes publish {
    to{
        background-image: url("images/globus-off.png");
    }
}


.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40em;
    width: 65em;
    border: 6px solid white;
    border-radius: 20px;
    background: rgb(0, 0, 0, 0.5);
}

.contacts h1{
    font-family: Press start;
    color: rgb(0, 162, 255);
    text-shadow: 0 0 15px rgb(0, 174, 255) ;
    font-size: 40px;
    animation: stuttering 1s ease-in-out alternate infinite;
}

.contacts div {
    align-self: self-start;
    margin-left: 10px;
    text-shadow: 0 0 10px rgb(255, 255, 255);
}

.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: Press start;
    font-size: 30px;
    margin-bottom: 30px;
    width: 27em;
    transition: 0.3s all;
}

.contact p {
    font-size: 25px;
}

.contact a{
    /* border: 1px solid white; */
    width: 20em;
}

.redirect {
    width: 15em;
}

.contact:first-child{
    transition-delay: 100ms;
}

.contact:nth-of-type(2){
    transition-delay: 200ms;
}

.contact:nth-of-type(3){
    transition-delay: 300ms;
}

.contact:nth-of-type(4){
    transition-delay: 400ms;
}

.contact:last-child{
    transition-delay: 500ms;
}

.contact div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 13em;
}



.contact img{
    width: 40px;
    margin-right: 20px;
    filter: drop-shadow(0 0 10px rgb(255, 0, 221));
}

.go{
    transform: translateX(-90px);
    transition: 0.3s all;
}

.go-to{
    transform: translateX(-70px);
}


@keyframes stuttering {
    to{
        color: rgb(0, 58, 218);
        text-shadow: 0 0 15px rgb(0, 58, 218);
    }
}



.hidden{
    opacity: 0;
    transition: 1s all;
    filter: blur(5px);
    transform: translateX(-100%);
}

@media(prefers-reduced-motion) {
    .hidden{
        transition: none;
    }
}

.show-main{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media (max-width: 896px) {
    header {
        flex-direction: column-reverse;
        justify-content:space-between;
        /* border: 1px solid white; */
        height: 11em;
    }

    nav{
    font-size: 10px;
}

    .logo{
        position: inherit;
        width: 120px;
    }

    .links{
        display: none;
    }


    .emoji{
        display: none;
    }

    main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    border: 1px solid white;
    }

    .sections{
    /* border: 1px solid white;  */
    /* width: 100%; */
    height: 80vh;
}


    section{
    flex-direction: column;
    /* border: 1px solid white; */
}

#main{
    justify-content: center;
}

    #main div{
        width: 24em;
        height: 20em;
    }

    #main div:first-child{
        height: 10em;
    }

    #main div:first-child h1{
    transform: translateY(-0.2em);
    animation: hovermove 1s ease-in-out alternate infinite;
    font-size: 60px;
}

#main .intro{
    align-items: center;
}

.hi{
    display: none;
}

.intro h1{
    font-size: 30px;
    /* border-right: 5px solid white; */
    /* border: 1px solid white; */
}

/* @keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
} */

.intro h5{
    margin: 0;
}

.intro p {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
    color: rgb(214, 220, 253);
    transition-delay: 400ms;
}

.to-works{
    width: 15em;
    height: 5em;
    font-size: 23px;
}

/* works */

#works{
    width: 100%;
    height: 75em;
    /* justify-content: center; */
}

.projects{
    display: grid;
    width: 100%;
    /* justify-content: center; */
    /* border: 3px solid white; */
}

.bg-project, .project{
    width: 20em;
    height: 15em;
}

/* services */

#services{
    height: 160em;
}

.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service{
    width: 20em;
    height: 35em;
    margin-bottom: 50px;
}

/* contacts */

#contacts{
    width: 25em;
}

.contacts{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    height: 40em;
    width: 24em;
}

.contacts h1{
    font-family: Press start;
    color: rgb(0, 162, 255);
    text-shadow: 0 0 15px rgb(0, 174, 255) ;
    font-size: 24px;
    margin-bottom: 30px;
    animation: stuttering 1s ease-in-out alternate infinite;
}

.contacts div {
    /* align-self: center; */
    margin-left: 0;
    text-shadow: 0 0 10px rgb(255, 255, 255);
}

.contact{
    display: flex;
    /* flex-direction: column; */
    align-self: s;
    /* justify-content: space-between; */
    align-items: center;
    font-family: Press start;
    font-size: 16px;
    margin-bottom: 60px;
    /* border: 1px solid white; */
    width: 22em;
}

.contact:first-child{
    flex-direction: column;
}

.contact div{
    align-self: flex-start;
    margin-left: 10px;
    /* border: 1px solid white; */
}

.contact p {
    font-size: 15px;
}

.mail {
    font-size: 1px;
    /* transform: translateX(-80px); */
}


.contact a{
    /* width: 40em; */
}

.redirect {
    width: 20em;
}

.go{
    display: none;
}

.contact img{
    width: 30px;
    margin-right: 15px;
}

#main, #works, #services, #contacts{
    /* width: 20em;/ */
    border: 1px solid white;
    padding: 0;
    width: 100%;
}

}